<app-toolbar (menuToggle)="sidenav.toggle()"></app-toolbar>

<mat-sidenav-container class="shell-container">
  <mat-sidenav #sidenav
    [mode]="sidenavMode()"
    [opened]="sidenavOpened()">
    <mat-nav-list>
      @for (item of navItems; track item.path) {
        <a mat-list-item
          [routerLink]="item.path"
          routerLinkActive="active-link"
          (click)="onNavClick()">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-area">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
